/* FOOTERS */

#footer {
  padding: 0;
  margin: 0 auto;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0), -2px 0px 5px rgba(0, 0, 0, 0);
  border-radius: .25em .25em 0 0 !important;
  height: 5em;
  text-align: center;
}

#g-footer {
  margin-top: 2em;
  /* Give some breathing room */
  padding: .5em;
  /* more breathing room */
}
