/* UI: G-box */
.g-box-header {
  /* Make headers have white text and reset border */
  border: 0;
  border-radius: 0;
  color: white;
}

.g-box-contents > p {
  line-height: 150%;
  font-size: 100%;
  color: #222;
}

.ui-selectee,
p {
  color: #333;
}

#globalheader p {
  color: white;
}

#front-page {
  max-width: 100% !important;
  padding: 0 !important;
  background: white;
}

.g-box[style*="width:90%"] {
  width: 100% !important;
  /* hijack inline styles */
}

.item-box > .g-box-header {
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}

.func-box div {
  border: solid 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}

.g-box {
  /* Only non-nested boxes get this style */
  border-radius: 0.25em;
  margin: 0.5em auto 1em;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background: white;
  /*width: 80% !important;*/
  overflow: hidden;
}

.g-box[style*="border:none;"],
g.box[style="background: transparent none repeat scroll 0% 0%; border: medium none;"] {
  background: white !important;
  border-width: 2px;
  border: solid 1px rgba(0, 0, 0, 0.12) !important;
}

#g-footer,
#globalheader {
  /* This needs to be display dependent but whatevs */
  padding: 0;
  margin: 0 auto;
  /*width: 90%;*/
  border-radius: 0 0 0.25em 0.25em !important;
  overflow: hidden;
}
/* #item-box {
    max-width: 100px !important;
    width: 100px !important;
  }
  #item-box > .g-box-header {
    border-radius: .5em 0 !important;
  } */
.g-box-header .ui-droppable {
  color: #536482 !important;
  padding: 0 0.25em !important;
}

.msg-loader,
.title,
.user-link {
  color: #7F50CF;
}

#menucontainer {
  right: 0;
  /* line-height: 24 !important;*/
}

span.pagenav span a {
  border: white 1px solid;
  border-radius: 0.2em;
}

span.pagenav span strong {
  background-color: white;
  border-radius: 0.2em;
  border: white 1px solid;
  color: #7F50CF;
}

.expanded {
  margin-top: 10px;
  float: left;
  font-size: 12.5px !important;
  font-weight: normal !important;
}

.expanded > a {
  font-size: 12.5px !important;
  font-weight: normal !important;
  padding: 0 1em 0 0 !important;
}
