/* HEADER */

#globalheader {
  height: 25px !important;
  margin-bottom: 1em;
}

#gallery-items {
  margin-top: 2em;
}

#ss-view {
  /* Okay, yes this does limit 'functionality', but 3 pane is fine enough for me and makes everything fit */
}

#sitelogo {
  display: none;
}
