/* USERPAGE */
#right-column {
  float: right !important;
}

#left-column > .g-box,
#right-column > .g-box {
  margin: 1em 0 !important;
  width: 100% !important;
}

#left-column {
  margin: 0 !important;
  width: 49% !important;
  min-width: 49%;
}
