// Global Header settings

#globalheader {
  background-color: $primary-color;
  font-family: $header-font-family !important;
  font-size: $header-font-size !important;
  height: 25px !important;
  // margin-bottom: 1em;
  // margin-top: 0;
  margin: 0 0 1em;
  padding-top: 0.5em;
  overflow: visible !important;

  a:hover {
    color: $secondary-color !important;
  }

  #usercenter {
    float: left;
    margin-left: 0;

    #userdata {
      background: none;
      // font-size: 1em !important;
      font-weight: normal !important;
      box-shadow: none;
      /* blend it in with the ui bar */
      margin: 0;
      padding: 5px 0 0 8px;

      a {
        width: 5em;
      }
    }

    p {
      float: left;

      &:first-child {
        margin-right: 1em;
      }

      &:last-child {
        margin-left: 1em;
      }
    }

    img {
      display: none;
    }
  }

  #accentbar {
    float: left;
    height: 0 !important;
    overflow: visible;
    width: 100%;

    #menucontainercontainer {
      background-color: rgba(0,0,0,0);
      float: left;
      margin: 0 auto;
      width: 30em;

      #menucontainer {
        background-color: rgba(0,0,0,0);
        color: $primary-color;
        width: inherit;

        ul {
          font-weight: normal !important;
          height: 32px;
          line-height: 32px;
          padding-top: 0;
          width: 400px;

          li {
            a {
              color: $secondary-color;

              &:visited {
                color: $secondary-color;
              }
            }
            ul {
              background-color: white !important;
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11) !important;
              border: 1px outset rgba(0, 0, 0, 0.09);
              border-top: 1px solid $primary-color !important;
              border-radius: 0 0 0.25em 0.25em;
              overflow: hidden;

              li {
                background-color: white;

                a {
                  color: $secondary-color !important;
                  font-weight: normal;

                  &:visited {
                    color: $secondary-color;
                  }

                  &:hover {
                    background-color: rgb(240, 240, 240);
                  }
                }

                .expanded > a {
                  background: $primary-color !important;
                }
              }
            }
          }
        }
      }
    }

    #sitelogo {
      display: none;
      // float: left;
    }
  }
}

#page-header {
  font-family: $header-font-family !important;
  font-size: $header-font-size !important;
  height: 0px !important;
  // margin-bottom: 1em;
  // margin-top: 0;
  margin: 0 0 1em;
  padding-top: 0;
  overflow: visible !important;


  .headerbar {
    background-color: $primary-color;
    background-image: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 25px;

    .inner {
      color: $secondary-color;
      height: inherit;

      #headertop {
        display: none;
      }

      #headerleft {
        a {
          color: $secondary-color;

          &:visited {
            color: $secondary-color;
          }
        }
      }

      #chromemenu {
        @extend #menucontainer;

        ul {
          padding: 0;
        }

        a {
          color: $secondary-color;
          padding-top: 0;

          &:visited {
            color: $secondary-color;
          }
        }
      }

      .corners-top,
      .corners-top span,
      .corners-bottom,
      .corners-bottom span {
        background: $primary-color;
      }
    }

  }

  a:hover {
    color: $secondary-color !important;
  }
}

// .dropmenudiv a {
//   background-color: white;
// }
// .chromestyle ul li a {
//   padding-bottom: 2px;
// }
//
// // #menucontainer li ul li a,
// .dropmenudiv a,
// .headerbar .dropmenudiv a {
//   color: $primary-color !important;
//   font-weight: normal;
// }
//
// // #menucontainer li ul li a:hover,
// .dropmenudiv a:hover {
//   background: rgb(240, 240, 240);
// }
//
// #chromemenu ul li a:hover,
// // #menucontainer .expanded > a:hover,
// body[class*="page"] #menucontainer .expandedg4 > a:hover {
//   background: $primary-color;
// }
//
// #chromemenu .expanded > a,
// // #menucontainer .expanded > a,
// body[class*="page"] #menucontainer .expandedg4 > a {
//   background: $primary-color !important;
// }
//
// // #menucontainer li ul,
// .dropmenudiv {
//   background-color: white !important;
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11) !important;
//   border: 1px outset rgba(0, 0, 0, 0.09);
//   border-top: 1px solid $primary-color !important;
//   border-radius: 0 0 0.25em 0.25em;
//   overflow: hidden;
// }
//
// .dropmenudiv {}
//
//
// p > a[href="/g4/messagepage.php"]:before {
//   content: " | ";
// }
//
// p > a[href="/g4/messagepage.php"]:after {
//   content: "";
// }
//
// #ss-scroll .g-box {
//   border: none;
//   box-shadow: none;
// }
//
// #globalsearch {
//   height: 25px;
//   max-height: 25px;
//   padding: 0;
//   margin: 0;
//   float: right;
//   border-radius: 0 0 0.25em 0;
// }
//
// #globalsearch input {
//   margin: 0;
//   padding: 0 0 0 1em;
//   width: 180px !important;
//   color: white !important;
// }
//
// #svcinfo {
//   /* still ugly right now will fix later */
//   right: 220px;
//   margin-top: 0;
//   border-radius: 0 0 0.25em 0.25em;
//   border: 0;
//   background: white;
//   color: white;
//   height: 22px;
//   border: 1px solid rgba(0, 0, 0, 0.12);
//   border-top: 0;
//   padding-bottom: 4px;
//   background-color: rgb(249, 249, 249);
//   z-index: 100;
// }
//
// .sp-scrollpane a {
//   color: $primary-color !important;
// }
//
// #globalsearch {
//   right: 0;
// }
//
// #search-submit {
//   display: none;
// }
//
// #form-header,
// #form-header-spacer {
//   /* Remove these because I've never used them and am too lazy to fix how I did globalheader */
//   display: none;
// }
//
// #accentbar,
// // #menucontainer,
// #userdata,
// .g-box-header {
//   background: $primary-color;
//   /* Purple Accent */
// }
//
// #globalheader {
//   background: $primary-color !important;
//   /* Needs to not be white -custom page css dosen't affect this so its okay*/
//   overflow: visible !important;
//   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.09);
// }
//
// #globalheader,
// #userpagetabs li,
// .g-box,
// .ui-state-default,
// div[style="overflow:auto; position: relative; padding: 1em;"] {
//   /* The great window bleacher */
//   background: white;
//   /* White Backdrop */
// }
//
// #globalheader a:hover {
//   color: $secondary-color !important;
// }
//
// // Part of the forum header
// #chromemenu {
//   width: 100%;
// }
//
// #chromemenu ul {
//   text-align: right;
//   padding: 0;
// }
//
// #globalheader {
//   height: 25px !important;
//   margin-bottom: 1em;
// }
//
// #ss-view {
//   /* Okay, yes this does limit 'functionality', but 3 pane is fine enough for me and makes everything fit */
// }
//
// #sitelogo {
//   display: none;
// }
//
//
//
// body[class*="page"] #menucontainer,
// body[class*="page"] #menucontainercontainer {
//   width: 500px;
//   height: 32px;
//   line-height: 32px;
//   font-weight: normal !important;
//   background: none;
// }
//
// body[class*="page"] #menucontainer {
//   top: 10px;
// }
//
// body[class*="page"] #menucontainer a {
//   font-weight: normal;
//   font-size: 12.5px;
//   padding: 0 1em 0 0;
// }
//
// body[class*="page"] #menucontainer li.expandedg4.first {
//   padding-left: 1em;
//   z-index: 99;
//   background-color: none !important;
//   display: none;
//   /* some weird bugs going on so just go to the gallery from another page please :) */
// }
//
// body[class*="page"] #menucontainer li.expandedg4.first .leafg4 {
//   display: none;
// }
//
// body[class*="page"] #menucontainer ul.menug4 {
//   padding-left: 2em;
// }
//
// .region > .section {
//   padding-right: 0;
//   padding-left: 0.5em;
// }
//
// .region {
//   padding-top: 1em !important;
// }
//
// div[style*="width:79%"] {
//   margin-left: 1em;
//   width: calc(79.9% - 1em) !important;
// }
// /*div[style*="width: 20%"] {
//     width: 16% !important;
//    margin-right: 0 calc(10% - 2em);
//   }*/
