/* Login */

#login-block {
  background-color: #7F50CF;
  border-radius: .25em;
  position: fixed;
  overflow: visible !important;
  min-height: 1px !important;
  z-index: 3;
  padding: 1em;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  margin-top: -1.25em;
}
