/* What is this even targetting? */
a[style="float: right; text-align: left; width: 100px;"] {
  float: left !important;
  img {
    float: right !important;
  }
}

.headerbar {}

#welcome-msg-block a {
  color: white !important;
}

#welcome-msg-block a:hover {
  color: #C0C0FF !important;
}
