.g-box-footer a,
a[href*="/g4/user"] {
  color: #7F50CF;
}

.g-box-header a {
  color: white !important;
}

.g-box-footer a:hover,
.g-box-header a:hover {
  color: #470047;
}

.g-box-header a:hover {
  color: #C0C0FF !important;
}

.g-box-header a {
  color: white;
}

.g-box-header a:hover {
  color: #C0C0FF !important;
}

.g-box-footer {
  background: white;
}
